<h3 class="module_title container">{{ heading_title }}</h3>
<div class="container module_content">
  <div class="row">
    {% for product in products %}
    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-center flex-column product_wrapper">
        <div>
          <div>
            <a href="{{ product.href }}">
              <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
            </a>
          </div>
          <div>
            <span class="product_name">{{ product.name }}</span>
          </div>
          <div>
            <button onclick="cart.add('{{ product.product_id }}');" class="product_price_button">
              {% if product.special %}
                <span class="product_price_old"> {{product.price}} </span> &nbsp;-&nbsp; {{ product.special }}
              {% else %}
                {{ product.price }}
              {% endif %}
            </button>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>