{{ header }}

<div id="product_product">

  <div class="container-fluid subs">

     <div class="container breadcrumb_wrapper">
        <ul class="breadcrumb mb-4">
          {% for i in 0..breadcrumbs|length-1 %}
          <li><a href="{{ breadcrumbs[i].href }}" class="text-white">{{ breadcrumbs[i].text }}</a>
           {% if i != breadcrumbs|length-1 %}
             <div class="separator text-white">:</div>
           {% endif %}
          </li>
          {% endfor %}
        </ul>
        
        <div class="separator"></div>

     </div>
       
  </div>

  <div class="container my-5 py-5">
    <div class="row">
      {{ column_left }}

      {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
      {% else %}
        {% set class = 'col-sm-12' %}
      {% endif %}
      
      <div id="content" class="{{ class }}">{{ content_top }}
        <div class="row">

        {% if column_left or column_right %}
          {% set class = 'col-sm-6' %}
        {% else %}
          {% set class = 'col-sm-7' %}
        {% endif %}

        <div class="{{ class }}">

        {% if thumb or images %}
           
          {% if thumb %}
            <a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}">
              <img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" class="img-fluid"/>
            </a>
          {% endif %}
  
          {% if images %}
            {% for image in images %}
              <a class="thumbnail aditional" href="{{ image.popup }}" title="{{ heading_title }}">
                <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
              </a>
            {% endfor %}
          {% endif %}
           
        {% endif %}

        </div>
          {% if column_left or column_right %}
            {% set class = 'col-sm-6' %}
          {% else %}
            {% set class = 'col-sm-5' %}
          {% endif %}
          <div class="{{ class }}">
            
            <div id="product"> {% if options %}
            
              <hr>
              <h3>{{ text_option }}</h3>
              {% for option in options %}
              {% if option.type == 'select' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                  <option value="">{{ text_select }}</option>
                  {% for option_value in option.product_option_value %}
                  <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                  {% if option_value.price %}
                  ({{ option_value.price_prefix }}{{ option_value.price }})
                  {% endif %} </option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}
              {% if option.type == 'radio' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label">{{ option.name }}</label>
                <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                  <div class="radio">
                    <label>
                      <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                      {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                      {{ option_value.name }}
                      {% if option_value.price %}
                      ({{ option_value.price_prefix }}{{ option_value.price }})
                      {% endif %} </label>
                  </div>
                  {% endfor %} </div>
              </div>
              {% endif %}
              {% if option.type == 'checkbox' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label">{{ option.name }}</label>
                <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                      {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                      {{ option_value.name }}
                      {% if option_value.price %}
                      ({{ option_value.price_prefix }}{{ option_value.price }})
                      {% endif %} </label>
                  </div>
                  {% endfor %} </div>
              </div>
              {% endif %}
              {% if option.type == 'text' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
              </div>
              {% endif %}
              {% if option.type == 'textarea' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
              </div>
              {% endif %}
              {% if option.type == 'file' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label">{{ option.name }}</label>
                <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
              </div>
              {% endif %}
              {% if option.type == 'date' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <div class="input-group date">
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                  <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
              {% endif %}
              {% if option.type == 'datetime' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <div class="input-group datetime">
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
              {% endif %}
              {% if option.type == 'time' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <div class="input-group time">
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% if recurrings %}
              <hr>
              <h3>{{ text_payment_recurring }}</h3>
              <div class="form-group required">
                <select name="recurring_id" class="form-control">
                  <option value="">{{ text_select }}</option>
                  {% for recurring in recurrings %}
                  <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                  {% endfor %}
                </select>
                <div class="help-block" id="recurring-description"></div>
              </div>
              {% endif %}

              <div class="form-group" id="products_actions">

                <input type="hidden" name="from_product_product" value="true">
                <div class="price">
                  {% if special %}
                    <span class="product_price_old"> {{price}} </span> &nbsp;-&nbsp; {{ special }}
                  {% else %}
                    {{ price }}
                  {% endif %}
                </div>

                <div id="quantity_wrapper">
                  <button id="less" onclick="less(document.getElementById('input-quantity'))">-</button>
                  <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" onkeypress='validate(event)'/>
                  <button id="more" onclick="more(document.getElementById('input-quantity'))">+</button>
                </div>
                
                <input type="hidden" name="product_id" value="{{ product_id }}" />

                <div class="p-relative">
                  <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">Adicionar ao carrinho</button>
                </div>
              </div>

              {% if minimum > 1 %}
                <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
              {% endif %}
            </div>

          </div>

          <div class="col-12 mt-5">
            <ul class="nav nav-tabs">
              <li class="active tab_button"><a class="active show" href="#tab-description" data-toggle="tab">Informações do produto</a></li>
              
              {# {% if attribute_groups %}
                <li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
              {% endif %} #}

              {% for attribute_group in attribute_groups %}
                {% for attribute in attribute_group.attribute %}
                  <li class="tab_button"><a href="#tab-{{ attribute.attribute_id }}" data-toggle="tab">{{ attribute.name }}</a></li>
                {% endfor %}
              {% endfor %}

              {# {% if review_status %}
                <li class="tab_button"><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
              {% endif %} #}
            </ul>

            <div class="tab-content pt-3">
              <div class="tab-pane active" id="tab-description">{{ description }}</div>
              {% if attribute_groups %}

                {% for attribute_group in attribute_groups %}
                  {% for attribute in attribute_group.attribute %}
                    <div class="tab-pane" id="tab-{{ attribute.attribute_id }}">
                      {{ attribute.text }}
                    </div>
                  {% endfor %}
                {% endfor %}
              {% endif %}
            </div>
          </div>

          <div class="col-12">
            {% if review_status %}
                <form class="my-5" id="form-review">
                  <h6>COMENTÁRIOS</h6>
                  <hr>
                  <div id="review" class="mb-5"></div>
                  {% if review_guest %}
                  <div class="form-group required d-none">
                    <div class="col-sm-12">
                      <label class="control-label" for="input-name">{{ entry_name }}</label>
                      <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group required">

                      <textarea name="text" rows="6" id="input-review" class="form-control my-3" placeholder="ADICIONAR COMENTÁRIO"></textarea>

                  </div>
                  <div class="form-group d-none">
                    <div class="col-sm-12">
                      <label class="control-label">{{ entry_rating }}</label>
                      &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                      <input type="radio" name="rating" value="1" />
                      &nbsp;
                      <input type="radio" name="rating" value="2" />
                      &nbsp;
                      <input type="radio" name="rating" value="3" />
                      &nbsp;
                      <input type="radio" name="rating" value="4" />
                      &nbsp;
                      <input type="radio" name="rating" value="5" checked="" />
                      &nbsp;{{ entry_good }}</div>
                  </div>
                  {{ captcha }}
                  <div class="buttons clearfix">
                    <div class="pull-right">
                      <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">Enviar</button>
                    </div>
                  </div>
                  {% else %}
                  <small>{{ text_login }}</small>
                  {% endif %}
                </form>
            {% endif %}
          </div>

        </div>
        {% if products %}
          <h3>{{ text_related }}</h3>
          <div class="row">
          
            {% for product in products %}
              <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-center flex-column product_wrapper">
                  <div>
                    <div>
                      <a href="{{ product.href }}">
                        <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
                      </a>
                    </div>
                    <div>
                      <span class="product_name">{{ product.name }}</span>
                    </div>
                    <div>
                      <button onclick="cart.add('{{ product.product_id }}');" class="product_price_button">
                        {% if product.special %}
                          <span class="product_price_old"> {{product.price}} </span> &nbsp;-&nbsp; {{ product.special }}
                        {% else %}
                          {{ product.price }}
                        {% endif %}
                      </button>
                    </div>
                  </div>
              </div>
            {% endfor %}

          </div>

        {% endif %}

      {{ content_bottom }}
      {{ column_right }}
    </div>
  </div>

</div>
<script type="text/javascript"><!--
  $('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
    $.ajax({
        url: 'index.php?route=product/product/getRecurringDescription',
        type: 'post',
        data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
        dataType: 'json',
        beforeSend: function() {
            $('#recurring-description').html('');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();

            if (json['success']) {
                $('#recurring-description').html(json['success']);
            }
        }
    });
  });
//--></script> 
<script type="text/javascript"><!--

  function less(input) {
    if(parseInt(input.value) > 0)
      input.value = parseInt(input.value) - 1
  }

  function more(input) {
    input.value = input.value !== '' ? parseInt(input.value) + 1 : 0
  }

  function validate(evt) {
    var theEvent = evt || window.event;

    // Handle paste
    if (theEvent.type === 'paste') {
        key = event.clipboardData.getData('text/plain');
    } else {
    // Handle key press
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
    }
    var regex = /[0-9]|\./;
    if( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }

  $('#button-cart').on('click', function() {
    $.ajax({
        url: 'index.php?route=checkout/cart/add',
        type: 'post',
        data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
        dataType: 'json',
        beforeSend: function() {
            $('#button-cart').button('loading');
        },
        complete: function() {
            $('#button-cart').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            if (json['error']) {
                if (json['error']['option']) {
                    for (i in json['error']['option']) {
                        var element = $('#input-option' + i.replace('_', '-'));

                        if (element.parent().hasClass('input-group')) {
                            element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                        } else {
                            element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                        }
                    }
                }

                if (json['error']['recurring']) {
                    $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                }

                // Highlight any found errors
                $('.text-danger').parent().addClass('has-error');
            }

            if (json['success']) {
                $('#button-cart').after('<div class="alert alert-success alert-dismissible">Você adicionou o produto ao seu carrinho!<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> </span>');

                // $('html, body').animate({ scrollTop: 0 }, 'slow');

                $("#open_cart_button").click()

                $('#cart > ul').load('index.php?route=common/cart/info ul li');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script> 
<script type="text/javascript"><!--
  $('.date').datetimepicker({
    language: '{{ datepicker }}',
    pickTime: false
  });

  $('.datetime').datetimepicker({
    language: '{{ datepicker }}',
    pickDate: true,
    pickTime: true
  });

  $('.time').datetimepicker({
    language: '{{ datepicker }}',
    pickDate: false
  });

  $('button[id^=\'button-upload\']').on('click', function() {
    var node = this;

    $('#form-upload').remove();

    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

    $('#form-upload input[name=\'file\']').trigger('click');

    if (typeof timer != 'undefined') {
        clearInterval(timer);
    }

    timer = setInterval(function() {
        if ($('#form-upload input[name=\'file\']').val() != '') {
            clearInterval(timer);

            $.ajax({
                url: 'index.php?route=tool/upload',
                type: 'post',
                dataType: 'json',
                data: new FormData($('#form-upload')[0]),
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function() {
                    $(node).button('loading');
                },
                complete: function() {
                    $(node).button('reset');
                },
                success: function(json) {
                    $('.text-danger').remove();

                    if (json['error']) {
                        $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                    }

                    if (json['success']) {
                        alert(json['success']);

                        $(node).parent().find('input').val(json['code']);
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        }
    }, 500);
  });
//--></script> 
<script type="text/javascript"><!--
  $('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
  });

  $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

  $('#button-review').on('click', function() {
    $.ajax({
        url: 'index.php?route=product/product/write&product_id={{ product_id }}',
        type: 'post',
        dataType: 'json',
        data: $("#form-review").serialize(),
        beforeSend: function() {
            $('#button-review').button('loading');
        },
        complete: function() {
            $('#button-review').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible').remove();

            if (json['error']) {
                $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
            }

            if (json['success']) {
                $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                $('input[name=\'name\']').val('');
                $('textarea[name=\'text\']').val('');
                $('input[name=\'rating\']:checked').prop('checked', false);
            }
        }
    });
  });

  $(document).ready(function() {

    const calculable = '{{ calculable }}' === '1'
    if(calculable){
      create_calculable()
    }

    $('.thumbnails').magnificPopup({
        type:'image',
        delegate: 'a',
        gallery: {
            enabled: true
        }
    });
  });

  function create_calculable(){
    const width = parseFloat('{{ width }}').toFixed(1)
    const height = parseFloat('{{ height }}').toFixed(1)

    create_button(width, height)
    create_fields()
    prepend_info(width, height)
   
  }

  function prepend_info(width, height){
    const info = document.createElement('div')
    info.classList.add('mb-3')
    info.innerHTML = `
        <small>Uma unidade representa as dimensões: <br /> Largura: ${width} cm &nbsp;&nbsp;|&nbsp;&nbsp; Altura: ${height} cm</small>
      `

    const label = document.createElement('div')
    label.classList.add('mb-3')
    label.innerHTML = `
        Informe as dimensões da superfície (em <strong>cm</strong>) que irá colar o adesivo e calcularemos automaticamente quantas unidades você precisa:
      `  

    document.getElementById('products_actions').prepend(label)
    document.getElementById('products_actions').prepend(info)
  }

  function create_fields(){
    const width_field = document.createElement('input')
    width_field.placeholder = 'Altura'
    width_field.id = 'width_field'
    width_field.classList.add('form-control')
    width_field.classList.add('mb-3')

    const height_field = document.createElement('input')
    height_field.placeholder = 'Largura'
    height_field.id = 'height_field'
    height_field.classList.add('form-control')
    height_field.classList.add('mb-3')

    width_field.addEventListener('focus', function(){
      this.style.borderColor = '#ced4da'
      document.getElementById('error_width').remove()
    }, true)

    height_field.addEventListener('focus', function(){
      this.style.borderColor = '#ced4da'
      document.getElementById('error_height').remove()
    }, true)

    document.getElementById('products_actions').prepend(height_field)
    document.getElementById('products_actions').prepend(width_field)

  }

  function create_button(width, height){
    const calculate = document.createElement('button')
    calculate.id = 'button_calculate'
    calculate.classList.add('btn')
    calculate.classList.add('btn-primary')
    calculate.classList.add('mb-3')

    calculate.innerHTML = 'Calcular'

    document.getElementById('products_actions').prepend(calculate)

    calculate.addEventListener('click', function(){
      calculate_fn(width, height)
    }, true)
  }

  function calculate_fn(width, height){

    if(document.getElementById('width_field').value === ''){
      document.getElementById('width_field').style.borderColor = 'red'

      const error_width = document.createElement('div')
      error_width.innerHTML = `<small id="error_width" class="text-danger font-italic mb-3">* Campo obrigatório</small>`

      if(document.getElementById('error_width')){
        document.getElementById('error_width').remove()
      }
      document.getElementById('width_field').before(error_width)
    }

    if(document.getElementById('height_field').value === ''){
      document.getElementById('height_field').style.borderColor = 'red'
      
      const error_height = document.createElement('div')
      error_height.innerHTML = `<small id="error_height" class="text-danger font-italic mb-3">* Campo obrigatório</small>`

      if(document.getElementById('error_height')){
        document.getElementById('error_height').remove()
      }
      document.getElementById('height_field').before(error_height)
    }

    if(document.getElementById('width_field').value === '' || document.getElementById('height_field').value === ''){
      return;
    }

    const width_surface  = parseFloat(document.getElementById('width_field').value.replace(',','.'))
    const height_surface = parseFloat(document.getElementById('height_field').value.replace(',','.'))

    const area_surface = width_surface * height_surface

    const area_product = width*height

    const quantity = area_surface/area_product

    const result = document.createElement('div')
    result.id = "calculus_result"
    result.classList.add('mb-3')

    const details = document.createElement('a')
    details.innerHTML = '<i class="fas fa-question-circle mx-3"></i>'
    details.addEventListener('click', function(){
      details_fn(width_surface, height_surface, area_surface, area_product, width, height, quantity)
    }, true)

    result.innerHTML = `
    São necessárias ${aprox(quantity)}${Math.ceil(quantity)} unidades do produto para cobrir a superfície`

    result.append(details)

    if(document.getElementById('calculus_result')){
      document.getElementById('calculus_result').remove()
    }
    document.getElementById('button_calculate').after(result)    

    document.getElementById('input-quantity').value = Math.ceil(quantity)
  }

  function details_fn(width_surface, height_surface, area_surface, area_product, width, height, quantity){
    const modal = document.createElement('div')
    modal.id = "modal_details"
    modal.classList.add('modal')
    modal.classList.add('fade')

    modal.innerHTML = `
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Detalhes do cálculo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            A área da superfície de colagem, isto é, sua altura (${height_surface} cm) multiplicada pela sua largura (${width_surface} cm) é igual a ${area_surface} cm² (ou ${area_surface/100/100} m²).
            <hr>

            A área do produto equivale a ${width} cm * ${height} cm = ${area_product} cm².

            <hr>

            Portanto, a divisão de ${area_surface} cm²/${area_product} cm² = ${quantity} unidades.

            ${aprox_details(quantity)}

            <hr>

            <small class="font-italic">* A quantidade para compra foi alterada automaticamente, mas você é livre para modifica-la a seu gosto!</small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Entendi!</button>
          </div>
        </div>
      </div>
    `

    if(!document.getElementById('modal_details')){
      document.body.append(modal)
    }

    $(modal).modal('show')
  }

  function aprox(result){
    if(result !== Math.ceil(result)){
      return 'aproximadamente '
    }

    return ''
  }

  function aprox_details(result){
    if(result !== Math.ceil(result)){
      return `
        <hr>

        O valor final foi arredondado para cima (${Math.ceil(result)} unidades) para evitar que o produto não seja capaz de cobrir toda a superfície.
      `
    }

    return ''
  }

//--></script>
{{ footer }}